@import '~bootstrap/scss/bootstrap';

$limegreen: #32cd32;
$bluetext: #00f;

h6 {
  color: $bluetext;
}

.success {
  background-color: $limegreen;
  color: $white;
}

.failure {
  background-color: $red;
  color: $white;
}

.message4 {
  position: fixed;
}

@media (max-width: 599px) {
  .action {
    margin: 5px;
  }

  .sign-out {
    margin-bottom: 15px;
  }
}
